<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
	<nav th:fragment="nav">
	<a href="/" title="Pagina Principal" style="padding: 2.5% 0; text-decoration: none;" class="text-center">
		<h1 style="text-decoration: none; color: black;">EasyComp</h1>
        <!-- <img class="rounded mx-auto d-block" style="width: 15%;" src="img/92-925747_super-smash-bros-super-mario-kart-vector-clipart transparent.png"> -->
        </a>
        <ul class="nav justify-content-center nav-fill" style="border: 4px black solid; background-color: rgb(54, 54, 54); margin-bottom: 1%;">
        <li class="nav-item col">
            <a class="nav-link" href="/asstorneio">Assistir Torneio</a>
            </li>
            <li class="nav-item col">
              <a class="nav-link" href="/sobre">Sobre o site</a>
            </li>
            <li class="nav-item col">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          </nav>
</body>
</html>