<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div>
  <nav th:fragment="nav" class="navbar navbar-expand-md nav-fill" style="border: 4px black solid; background-color: rgb(54, 54, 54); margin-bottom: 1%">
  		<div class="dropdown" style="width: 100%"> 
        <div class="container-fluid" style="width: 100%; white-space: nowrap;">
        <ul th:replace="auth/auth-nav :: nav"> </ul> 
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
               <ul class="nav mx-auto text-center">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Gerenciamento</a>
                        <div class="dropdown-menu">
                            <a href="/usuario/user/listarUserTornSep" class="dropdown-item" style="color: black;">Meus Torneios</a>
                            <a href="/asstorneioinsc" class="dropdown-item" style="color: black;">Torneios Inscritos</a>
                        </div>
                    </li>
                </ul>      
                </div>    
                </div>           
            </div>
        </div>
    </nav> 
    </div>   
	
</body>
</html>