<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<body>
	<nav th:fragment="nav" style="border: 4px black solid; background-color: rgb(54, 54, 54); margin-bottom: 1%;">
	<a href="/" title="Pagina Principal" style="padding: 2.5% 0; text-decoration: none;" class="text-center">
     	 <img class="rounded mx-auto d-block" style="width: 25%; padding: 1% 0;" src="/img/logo.png"> 
        </a>
        <ul class="nav mx-auto text-center">
        <li class="nav-item col">
            <a class="nav-link" href="/asstorneio">Assistir Torneio</a>
            </li>
            <li class="nav-item col">
              <a class="nav-link" href="/sobre">Sobre o Site</a>
            </li>
            <li class="nav-item col">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          </nav>
</body>
</html>